fastapi
uvicorn
kafka-python
cassandra-driver
elasticsearch==8.11.1
feedparser
pandas
streamlit
streamlit-autorefresh
requestsCREATE KEYSPACE realtime
WITH replication = {
'class': 'SimpleStrategy',
'replication_factor': 1
};